<footer class="footer">
 <small>
 The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
 by <a href="http://www.subashshahi.com.np/">Subash Shahi</a>
 </small>
 <nav>
 <ul>
 <!-- <a href="/static_pages/about">About</a> -->
 	<li><%= link_to "About", about_path %></li>
 	<li><%= link_to "Contact", contact_path %></li>
 	<li><a href="http://news.railstutorial.org/">News</a></li>

 </ul>
 </nav>
</footer>